<div>
    <table border="1" style="width:100%">
        <tr>
            <td>Name</td><td>Description</td><td>Actions</td>
        </tr>
        <tr ng-repeat="configuration in vm.configurationList">
            <td>{{configuration.name}}</td>
            <td>{{configuration.description}}{{configuration.configurationId}}</td>
            <td>
                <button ng-click="vm.updateConfiguration(configuration.configurationId)">Modify</button>
                <button ng-click="vm.deleteConfiguration(configuration.configurationId)">Delete</button>
            </td>
        </tr>
    </table>
    <md-button class="md-primary md-raised" ng-click="vm.addNewConfiguration()">Add new configuration</md-button>
</div>