<div>
    <table border="1" style="width:100%">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Export type</td>
            <td>Filename</td>
            <td>Actions</td>
        </tr>
        <tr ng-repeat="configItem in vm.configItemList">
            <td>{{configItem.name}}</td>
            <td>{{configItem.description}}</td>
            <td>{{configItem.exportType}}</td>
            <td>{{configItem.fileName}}</td>
            <td>
                <md-icon md-svg-src="/assets/edit.svg" aria-label="Edit " ng-click="vm.showUpdateDialog(configItem.configurationItemId)"></md-icon>
                <md-icon md-svg-src="/assets/delete.svg" aria-label="Edit " ng-click="vm.deleteConfigItem(configItem.configurationItemId)"></md-icon>
            </td>
        </tr>
    </table>
    <md-button class="md-primary md-raised" ng-click="vm.showAddDialog()">Add configuration item</md-button>
</div>