<md-dialog aria-label="Device" style="width: 500px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
        <h2>Add Device</h2>
        <span flex=""></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="mat-button">
        <span flex="">
            <md-input-container>
                    <label>Device name</label>
                    <input ng-model="vm.name" type="text"/>
            </md-input-container><br/>
            <md-input-container>
                    <label>Device Description</label>
                    <input ng-model="vm.description" type="text"/>
            </md-input-container>
        </span>    
    </md-dialog-content>
    <md-dialog-actions class="mat-dialog-actions">
        <md-button class="mat-button" ng-click="vm.addNewDevice()">
            <span class="mat-button-wrapper">Add</span>
            <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </md-button>
        <md-button class="mat-button">
            <span class="mat-button-wrapper">Cancel</span>
            <div class="mat-button-ripple mat-ripple" md-ripple =""></div>
            <div class="mat-button-focus-overlay"></div>
        </md-button>
    </md-dialog-actions>
</md-dialog>