<div>
    <table border="1" style="width:100%">
        <tr>
            <td>Name</td><td>Description</td><td>Actions</td>
        </tr>
        <tr ng-repeat="deviceInfo in vm.deviceList">
            <td>{{deviceInfo.name}}</td>
            <td>{{deviceInfo.description}}</td>
            <td>
                    <md-icon md-svg-src="/assets/edit.svg" aria-label="Edit " ng-click="vm.showUpdateDialog(deviceInfo.deviceId)"></md-icon>
                    <md-icon md-svg-src="/assets/delete.svg" aria-label="Edit " ng-click="vm.deleteDevice(deviceInfo.deviceId)"></md-icon>    
            </td>
        </tr>
    </table>
    <md-button class="md-primary md-raised" ng-click="vm.showDialog()">Add device</md-button>
</div>