<div>
    Exoport the configuration for the node of {{vm.node.nodeStringId}} of device type {{vm.node.device.name}}.

    The device hosts following modules:
    <table border="1" style="width:100%">
            <tr>
                <td>Module </td>
                <td>Configuration item</td>
                <td>CI</td>
                <td>Action</td>
            </tr>
            <tr ng-repeat="module in vm.node.device.deviceModules">
                <td>{{module.name}}</td>
                <td><div ng-repeat="configItem in module.configItems">{{configItem.name}}</div></td>
                <td></td>
                <td>
                    <md-icon md-svg-src="/assets/edit.svg" aria-label="Edit " ng-click="vm.showUpdateDialog(configItem.configurationItemId)"></md-icon>
                    <md-icon md-svg-src="/assets/delete.svg" aria-label="Edit " ng-click="vm.deleteConfigItem(configItem.configurationItemId)"></md-icon>
                </td>
            </tr>
        </table>
    </div>    