<div>
    <table border="1" style="width:100%">
        <tr>
            <td>Name</td><td>Type</td><td>Value</td><td>Unit</td><td>Path</td><td>Config item</td><td>Description</td><td>Actions</td>
        </tr>
        <tr ng-repeat="parameter in vm.parameters">
            <td>{{parameter.name}}</td>
            <td>{{parameter.type}}</td>
            <td>{{parameter.value}}</td>
            <td>{{parameter.unit}}</td>
            <td>{{parameter.path}}</td>
            <td>{{parameter.configurationItem.name}}</td>
            <td>{{parameter.description}}</td>     
            <td>
                <button ng-click="vm.showUpdateDialog(parameter.parameterId)">Modify</button>
                <button ng-click="vm.deleteParameter(parameter.parameterId)">Delete</button>
            </td>
        </tr>
    </table>
    <md-button class="md-primary md-raised" ng-click="vm.showAddDialog()">Add parameter</md-button>
</div>