
<md-content layout-padding>
    <form name="templateEditForm">
        <md-input-container class="md-block">
                <label>Template Name</label>
                <input md-maxlength="30" required md-no-asterisk name="description" ng-model="vm.name">
        </md-input-container>
        <md-input-container class="md-block">
                <label>Template Description</label>
                <input md-maxlength="200" required md-no-asterisk name="description" ng-model="vm.description">
        </md-input-container>
    </form>
    <div border="1">
        <md-toolbar>
            <div class="md-toolbar-tools">
          <md-truncate>Template parameters</md-truncate>
          <span flex></span>
          <md-button class="md-raised" aria-label="Add" ng-click="vm.showAddTemplateParameterDialog(-1)">Add Template Parameter</md-button>
            </div>
        </md-toolbar>
      <md-virtual-repeat-container id="vertical-container">
        <div md-virtual-repeat="item in vm.templateParameters" class="repeated-item" flex>
          <tr><td>
            <md-icon md-svg-src="{{vm.getIconForParamType(item.parameterType)}}" aria-label="Parameter type"></md-icon>
          </td> <td>{{item.name}}</td>
            <td>{{item.secondName}}</td>
            <td>
                <md-icon md-svg-src="/assets/edit.svg" aria-label="Edit " ng-click="vm.showAddTemplateParameterDialog($index)"></md-icon>
                <md-icon md-svg-src="/assets/delete.svg" aria-label="Edit " ng-click="vm.deleteTemplateParameter($index)"></md-icon>    
            </td>
        </tr>
        </div>
      </md-virtual-repeat-container>
    </div>
    <div backgroud-color="yellow">
            <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="parameters">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Parameters</h1>
                        <div layout="row" layout-xs="column" >
                          <div flex="">
                              <md-list>
                                  <md-list-item class="md-1-line" ng-repeat="assignedParameter in vm.templateElements" 
                                                                  ng-click="vm.selectTemplateElement($index)" 
                                                                  ng-class="{selectedIndex: vm.selectedAssociatedParameter===$index}">
                                      <div class="md-list-item-text" layout="column">{{assignedParameter.parameter.name}}={{assignedParameter.templateParameter.name}}</div>
                                  </md-list-item>
                              </md-list>
                          </div>
                          <div>
                              <button ng-click="vm.removeParameterToTemplateAssociation()">&#9654;&#9654;</button><br/>
                              <button ng-click="vm.assignParameterToTemplate()">&#9664;&#9664;</button>
                          </div>
                          <div flex="">
                              <md-list>
                                  <md-list-item class="md-1-line" ng-repeat="configItem in vm.availableParameters" 
                                                                  ng-click="vm.selectParameter(vm.availableParameters.indexOf(configItem))" 
                                                                  ng-class="{selectedIndex: vm.selectedParameter===$index}">
                                      <div class="md-list-item-text" layout="column">{{configItem.name}}</div>
                                  </md-list-item>
                              </md-list>        
                          </div>
                      </div>        
                                    </md-content>
                    </md-tab>
                    <md-tab label="dependencies">
                      <md-content class="md-padding">
                        <div layout="row" layout-xs="column" >
                            <div flex="">
                                <md-list>
                                    <md-list-item class="md-1-line" ng-repeat="template in vm.templateDependecies" 
                                                                    ng-click="vm.selectRelationInstanceForDeleting($index)" 
                                                                    ng-class="{selectedIndex: vm.selectedRelationInstance===$index}">
                                        <div class="md-list-item-text" layout="column">{{template.name}}</div>
                                    </md-list-item>
                                </md-list>
                            </div>
                            <div>
                                <button ng-click="vm.removeDependency()">&#9654;&#9654;</button><br/>
                                <button ng-click="vm.addDependency()">&#9664;&#9664;</button>
                            </div>
                            <div flex="">
                                <md-list>
                                    <md-list-item class="md-1-line" ng-repeat="template in vm.allTemplates | removeTemplatesFrom : vm.templateDependecies : vm.templateId" 
                                                                    ng-click="vm.selectTemplateForRelation(vm.allTemplates.indexOf(template))" 
                                                                    ng-class="{selectedIndex: vm.selectedRelationSubject === vm.allTemplates.indexOf(template)}">
                                        <div class="md-list-item-text" layout="column">{{template.name}}</div>
                                    </md-list-item>
                                </md-list>        
                            </div>
                        </div>        
                        </md-content>
                    </md-tab>
                    <md-tab label="restrictions">
                      <md-content class="md-padding">
                        <div layout="row" layout-xs="column" >
                          <div flex="">
                              <md-list>
                                  <md-list-item class="md-1-line" ng-repeat="template in vm.templateRestrictions" 
                                                                  ng-click="vm.selectRelationInstanceForDeleting($index)" 
                                                                  ng-class="{selectedIndex: vm.selectedRelationInstance===$index}">
                                      <div class="md-list-item-text" layout="column">{{template.name}}</div>
                                  </md-list-item>
                              </md-list>
                          </div>
                          <div>
                              <button ng-click="vm.removeRestriction()">&#9654;&#9654;</button><br/>
                              <button ng-click="vm.addRestriction()">&#9664;&#9664;</button>
                          </div>
                          <div flex="">
                              <md-list>
                                  <md-list-item class="md-1-line" ng-repeat="template in vm.allTemplates | removeTemplatesFrom : vm.templateRestrictions : vm.templateId" 
                                                                  ng-click="vm.selectTemplateForRelation(vm.allTemplates.indexOf(template))" 
                                                                  ng-class="{selectedIndex: vm.selectedRelationSubject === vm.allTemplates.indexOf(template)}">
                                      <div class="md-list-item-text" layout="column">{{template.name}}</div>
                                  </md-list-item>
                              </md-list>        
                          </div>
                      </div>        
                      </md-content>
                    </md-tab>
            </md-tabs>
    </div>
  <md-button class="md-primary md-raised" ng-click="vm.addNewTemplate()">Save template</md-button>
  <md-button class="md-primary md-raised" ng-click="vm.cancel()">Cancel</md-button>
</md-content>