<md-dialog aria-label="Template" style="width: 800px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
        <h2>Template</h2>
        <span flex="" ></span>
<!--        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button> -->
        </div>
    </md-toolbar>
    <md-dialog-content class="mat-button">
        <span flex="">
            <md-input-container>
                    <label>Template Name</label>
                    <input ng-model="vm.templateName" type="text"></input>
            </md-input-container><br/>
            <md-input-container>
                    <label>Template Description</label>
                    <input ng-model="vm.templateDescription" type="text"></input>
            </md-input-container>
            <div>
              <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="Setup">
                            <md-content class="md-padding">                                   
                                    <div layout="row" layout-xs="column">
                                        <div flex="">
                                            <md-input-container>
                                                    <label>Template Name</label>
                                                    <input ng-model="vm.templateName" type="text"></input>
                                            </md-input-container><br/>
                                        </div>
                                        <div>
                                            <button>&#9654;&#9654;</button><br/>
                                            <button>&#9664;&#9664;</button>
                                        </div>
                                        <div flex="">
                                            <md-input-container>
                                                    <label>Template Name</label>
                                                    <input ng-model="vm.templateName" type="text"></input>
                                            </md-input-container><br/>
                                        </div>
                                    </div>        
                            </md-content>
                    </md-tab>
                    <md-tab label="Dependencies">
                            <md-content class="md-padding">
                              <h1 class="md-display-2">Dependencies</h1>
                              <p>Here we add dependencies for the tamples</p>
                            </md-content>
                    </md-tab>
                    <md-tab label="Restrictions">
                            <md-content class="md-padding">
                              <h1 class="md-display-2">Restrictions</h1>
                              <p>Here we specify the templates, that connot coexist in the same configurations with current template</p>
                            </md-content>
                    </md-tab>
              </md-tabs>
            </div>
        </span>    
    </md-dialog-content>
    <md-dialog-actions class="mat-dialog-actions">
        <md-button class="mat-button" ng-click="vm.addNewTemplate()">
            <span class="mat-button-wrapper">Option 1</span>
            <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </md-button>
        <md-button class="mat-button">
            <span class="mat-button-wrapper">Option 2</span>
            <div class="mat-button-ripple mat-ripple" md-ripple =""></div>
            <div class="mat-button-focus-overlay"></div>
        </md-button>
    </md-dialog-actions>
</md-dialog>