
<md-content layout-padding>
    <form name="templateEditForm">
        <md-input-container class="md-block">
                <label>Template Name</label>
                <input md-maxlength="30" required md-no-asterisk name="description" ng-model="vm.name">
        </md-input-container>
        <md-input-container class="md-block">
                <label>Template Description</label>
                <input md-maxlength="200" required md-no-asterisk name="description" ng-model="vm.description">
        </md-input-container>
    </form>
    <div border="1">
        <md-toolbar>
            <div class="md-toolbar-tools">
          <md-truncate>Template parameters</md-truncate>
          <span flex></span>
          <md-button class="md-raised" aria-label="Add" ng-click="vm.showAddTemplateParameterDialog(-1)">Add Template Parameter</md-button>
            </div>
        </md-toolbar>
      <md-virtual-repeat-container id="vertical-container">
        <div md-virtual-repeat="item in vm.templateParameters" class="repeated-item" flex>
          <tr><td>{{item.name}}</td><td>{{item.secondName}}</td><button ng-click="vm.showAddTemplateParameterDialog($index)">Modify</button><button ng-click="vm.deleteTemplateParameter($index)">Delete</button></tr>
        </div>
      </md-virtual-repeat-container>
    </div>
    <div backgroud-color="yellow">
            <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="parameters">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Parameters</h1>
                        <div layout="row" layout-xs="column" >
                          <div flex="">
                              <md-list>
                                  <md-list-item class="md-1-line" ng-repeat="assignedParameter in vm.templateElements" 
                                                                  ng-click="vm.selectTemplateElement($index)" 
                                                                  ng-class="{selectedIndex: vm.selectedAssociatedParameter===$index}">
                                      <div class="md-list-item-text" layout="column">{{assignedParameter.parameter.name}}={{assignedParameter.templateParameterId}}</div>
                                  </md-list-item>
                              </md-list>
                          </div>
                          <div>
                              <button ng-click="vm.removeParameterToTemplateAssociation()">&#9654;&#9654;</button><br/>
                              <button ng-click="vm.assignParameterToTemplate()">&#9664;&#9664;</button>
                          </div>
                          <div flex="">
                              <md-list>
                                  <md-list-item class="md-1-line" ng-repeat="configItem in vm.availableParameters" 
                                                                  ng-click="vm.selectParameter(vm.availableParameters.indexOf(configItem))" 
                                                                  ng-class="{selectedIndex: vm.selectedParameter===$index}">
                                      <div class="md-list-item-text" layout="column">{{configItem.name}}</div>
                                  </md-list-item>
                              </md-list>        
                          </div>
                      </div>        
                                    </md-content>
                    </md-tab>
                    <md-tab label="dependencies">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Dependencies</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                        <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                      </md-content>
                    </md-tab>
                    <md-tab label="restrictions">
                      <md-content class="md-padding">
                        <h1 class="md-display-2">Restrictions</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                      </md-content>
                    </md-tab>
            </md-tabs>
    </div>
  <md-button class="md-primary md-raised" ng-click="vm.addNewTemplate()">Save template</md-button>
  <md-button class="md-primary md-raised" ng-click="vm.cancel()">Cancel</md-button>
</md-content>